In [2]:
import numpy as np
import pandas as pd

In [4]:
np.random.seed(101)
myData=np.random.randint(0,101,(4,3))
myData

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [7]:
myIndex = ['CA','NY','AZ','TZ']

In [8]:
myColums = ['Jan','Feb','March']

In [10]:
df= pd.DataFrame(myData,index=myIndex,columns=myColums)
df

    Jan  Feb  March
CA   95   11     81
NY   70   63     87
AZ   75    9     77
TZ   40    4     63

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TZ
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   March   4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [12]:
pwd

'C:\\Users\\Admin\\coding_folder\\ML\\2.Pandas'

In [13]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 3253-E517

 Directory of C:\Users\Admin\coding_folder\ML\2.Pandas

10/18/2024  05:10 PM    <DIR>          .
10/17/2024  10:37 PM    <DIR>          ..
10/18/2024  04:54 PM    <DIR>          .ipynb_checkpoints
10/18/2024  04:44 PM             6,927 1.Series.ipynb
10/18/2024  05:07 PM             6,927 2.Dataframe.ipynb
10/18/2024  05:10 PM            18,752 tips.csv
               3 File(s)         32,606 bytes
               3 Dir(s)  360,979,374,080 bytes free

In [16]:
tips_csv = pd.read_csv("tips.csv")
tips_csv.head()

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251